<div class = "center jumbotron">
  <h1>Welcome to SFU Used Book Sales</h1>
  <p>This app provides you with a platform for buying/selling SFU books.</p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up using facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-primary" %>
  <p></p>
  or <%= link_to "Sign up using Twitter", user_omniauth_authorize_path(:twitter) %>
</div>



<% if !params[:department].blank? %>
</br>
<h1 class="current-department"> Department: <%= params[:department] %></h1>
<% end %>



<% if !params[:department].blank? %>
<h3>Enter one or more of the following fields:</h3>
<% end %>
<%= form_tag books_path, method: :get do %>
<%= hidden_field_tag :department, params[:department], class: 'form-control' %>

<% if !params[:department].blank? %>
<h4> Course Number </h4>
<%= text_field_tag :cnumber, params[:cnumber], class: 'form-control' %>

<h4> Book Title </h4>
<%= text_field_tag :title, params[:title], class: 'form-control' %>
<p></p>
<%= submit_tag "Search", name: nil,class: "btn btn-primary" %>
<% end %>
<% end %>
</br></br>


  <div class="row">
  <% @books.each do |book| %>
    <div class = "col-md-3">
    <a href="/books/<%= book.id %>">
      <%= image_tag book.avatar.url(:medium), class: "book" %>
    </a>
    </div>

<% end %>
  </div>