<% if current_user %>

<% if !params[:department].blank? %>
<h1 class="current-department"> <%= params[:department] %></h1>
<% end %>
<%= form_tag books_path, method: :get do %>
<%= hidden_field_tag :department, params[:department], class: 'form-control' %>

<% if !params[:department].blank? %>
<%= text_field_tag :cnumber, params[:cnumber], placeholder: 'Three Digit Course Number' %>

<%= submit_tag "Search", name: nil,class: "btn btn-primary" %>
<% end %>
<% end %>
</br></br>

  <div class="row">
  <% @books.each do |book| %>
    <div class = "col-md-3">
    <a href="/books/<%= book.id %>">
      <%= image_tag book.avatar.url(:medium), class: "book" %>
    </a>
    </div>

<% end %>
  </div> 


<% else %>
  <%= render 'welcome' %>
<% end %>


