<% if current_user %>

<li class = "dropdown">
        <a href="#" class = "dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Departments<span class = "caret"></span></a>
          <ul class="dropdown-menu" role="menu">
        <% Department.all.each do |department| %>
        <li>
          <%= link_to department.name, books_path(department: department.name), class:"link" %>
        </li>
        <% end %>
          </ul>
</li>
<h2 class="current-category"> <%= params[:department] %></h2> 

  <div class="row">
  <% @books.each do |book| %>
    <div class = "col-md-3">
    <a href="/books/<%= book.id %>">
      <%= image_tag book.avatar.url(:medium), class: "book" %>
    </a>
    </div>

<% end %>
  </div>

<%= link_to "Add Book", new_book_path, class: "btn btn-primary" %>
<% else %>
  <%= render 'welcome' %>
<% end %>

